body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0fdf4;
    color: #355d52;
  }
  
.container {
    max-width: 450px;
    margin: 20px auto;
    background: #e9f8eb;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px #c3c2c2;
  }
  
h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: #1e3932;
    margin-bottom: 40px;
  }
  
h1::after {
    content: "";
    display: block;
    width: 240px;
    height: 4px;
    background: #68d391;
    margin: 10px auto 0;
    border-radius: 2px;
  }

.filter-group,
.button-group {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
label {
    font-size: 1rem;
    font-weight: bold;
    color: #355d52;
    margin-bottom: 5px;
  }
  
select,
button {
    margin: 5px;
    text-align: center;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #d1d5db;
    background: #68d391;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
button:hover,
select:hover {
    background: #48bb78;
    border-color: #48bb78;
  }
  

.file-input-container {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
    text-align: center;
  }
  
input[type="file"] {
    opacity: 0;
    position: absolute;
  }
  
.file-label {
    display: inline-flex;
    justify-content: center;   
    width: 100%;
    padding: 5px;
    background: #68d391;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  
.file-label:hover {
    background: #48bb78;
  }
  
.file-name {
    margin-top: 5px;
    font-size: 0.9rem;
    color: #1e3932;
    font-weight: bold;
    text-align: center;
  }
  
.job-list {
    display: flex; flex-direction: column;
    margin-top: 20px;
    align-items: center;
  }
  
.job-item {
    display: inline-block;
    padding: 15px;
    margin: 10px 0;
    background: #68d391;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    transition: all 0.3s ease;
    width: 50%;
  }
  
.job-item:hover {
    background: #48bb78;
  }
  

.details-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f2fff3;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    color: #1e3932;
  }
  
.details-popup h3 {
    margin-top: 0;
    color: #68d391;
  }
  
.details-popup button {
    padding: 10px 20px;
    background: #e53e3e;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
.details-popup button:hover {
    background: #c53030;
  }
  
.no-jobs-message {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ff4d4d; /* Red color to indicate no results */
    margin: 20px 0;
  }
  
  /* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  